.featured-container {
  margin-top: 80px;
  margin-bottom: 140px;
}
.featured-title {
  margin-top: 20px;
  margin-bottom: 60px;
}
.featuredProducts-gridbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 284px);
  column-gap: 30px;
  row-gap: 32px;
}


.featuredProduct {
  position: relative;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden  ;
}
.featuredProduct.shadow::after {
  content: "";
  position: absolute;
  bottom: -70px;
  left: -70px;
  height: 450px;
  width: 450px;
  background: rgba(255, 255, 255, 0.12);
  filter: blur(5px);
  border-radius: 50%;
  z-index: 1;
}
.featuredProduct > img {
  z-index: 2;
  /* width: fit-content; */
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.featuredProduct-info {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: white;
  z-index: 2;
}
.featuredProduct-info > h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
}
.featuredProduct-description {
  max-width: 242px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
.featuredProduct-info > button {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.featuredProduct.featuredProduct1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 100%;
  background-color: #000000;

  align-items: flex-end;
}
.featuredProduct.featuredProduct2 {
  grid-column: 3 / 5;
  grid-row: 1;
  background-color: #0d0d0d;
  flex-direction: column;
  align-items: flex-end;
}
.featuredProduct3 {
  grid-column: 3;
  grid-row: 2;
  background-color: #000000;
}
.featuredProduct4 {
  grid-column: 4;
  grid-row: 2;
  background-color: #000000;
}
@media (max-width: 900px) {
  .featuredProducts-gridbox {
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  }
  .featuredProduct.featuredProduct1 {
     grid-column: 1 / 3; /* ياخد العمودين */
  grid-row: 1; 
  }
  .featuredProduct.featuredProduct2 {
  grid-column: 1 / 3;
  grid-row: 2 ;
  }
  .featuredProduct3 {
  grid-column: 1/2;
  grid-row: 3;
  }
  .featuredProduct4 {
  grid-column: 2/3;
  grid-row: 3;
}
.featuredProduct.shadow::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: -200px;
  height: 100vh;
  width: 100vw;}
}