.today-products {
  margin-top: 140px;
  border-bottom: 0.5px solid var(--border-gray);
  margin-bottom: 80px;
}
.today-products > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
.dept-title {
  display: flex;
  align-items: center;
  text-align: center;
}
.dept-title > div {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}
.dept-title > h1 {
  margin: 0;
  margin-left: 16px;
  color: #db4444;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.timer {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 87px;
}
h2.title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  margin: 0;
  margin-top: auto;
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
}
.timer > div span {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 4px;
}
.timer > div p {
  font-size: 3.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 0;
}
.timer > span {
  color: #e07575;
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  margin: 0 14px;
}

.toaday-products > div {
  display: flex;
  flex-wrap: wrap;
}

.swappingArrow-container {
  display: flex;
  gap: 8px;
  margin-left: auto;
  align-items: flex-end;
}
.swappingArrow-container button {
  background-color: #f5f5f5;
  border-radius: 50%;
  border: none;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swappingArrow-container .right-swappingArrow > img {
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .timer {
    order: 3;
    margin-left: 0;
    width: 100%;
  }
}

.products-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
}
/* .products-section > article {
  width: auto;
} */
.product-img {
  position: relative;
  object-fit: contain;
  width: 270px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-img .discount {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 55px;
  height: 26px;
  background-color: #db4444;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.product-img .favourite-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.product-img .visbilty-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 54px;
  right: 12px;
  cursor: pointer;
}

.product-img .addToCart-btn button {
  width: 100%;
  height: 41px;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  display: none;
}
.product-img:hover .addToCart-btn button {
  display: block;
}
.product-info > h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  max-width: 300px;
  color: black;
}
.product-price {
  font-size: 1.6rem;
  color: #db4444;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.product-price span {
  text-decoration: line-through;
  font-size: 1.6rem;
  color: #919191;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.evaluate-part span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

  font-size: 14px;
  color: #919191;
  line-height: 21px;
}

.allProducts-btn {
  width: 20%;
  height: 56px;
  background-color: #db4444;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
  cursor: pointer;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .allProducts-btn {
    width: 150px;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-info-discount {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.product-info-discount > p {
  margin: 0;
}
.product-info-discount > .evaluate-part {
  margin-top: 0;
}
.product-color-switch {
  display: flex;
  gap: 8px;
  align-items: center;
}

.product-color-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid transparent;
  /* background-color: #184a48; */
  cursor: pointer;
  transition: 0.2s;
}

.product-color-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid transparent;
  /* background-color: #d94a4a; */
  cursor: pointer;
  transition: 0.2s;
}

.product-color-1.active,
.product-color-2.active {
  border-width: 2px;
  border-color: black;
  box-shadow: 0 0 0 1px white inset;
}

.star-icon {
  width: 15px;
  height: 15px;
}

@media (max-width: 750px) {
  .title {
    order: 1;
    margin-bottom: 0;
  }

  .swappingArrow-container {
    order: 2;
    align-items: unset;
  }

  .todayProduct-timer {
    order: 3;
  }
}
